*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center; 
    background: linear-gradient(45deg,black,rgba(32, 5, 5, 0.662));
    align-items: center;
}
.calculator{
    border: 1px , solid , whitesmoke;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    box-shadow: 0px, 3px , 15px, rgba(113, 115, 119,0.5);


}
input{
    width: 300px;
    border: none;
    padding:24px ;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px, rgba(84, 84, 84,0.5);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;

}
input::placeholder{
    color: white;

}
button{
    border: none;
    font-size: 22px;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background:transparent ;
    color: white;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;

}
.equalBtn{
    background-color: orange;
}
.operator{
    color: rgb(44, 206, 44);
}